__pycache__
wandb
claudio_forget_retain_1
claudio_forget_retain_2
claudio_forget1claudio_gd_!
claudio_kl_1
claudio_mix2_1
claudio_gd_1
claudio_forget_1

*.pth
claudio_forget1/model-00001-of-00002.safetensors
claudio_forget1/model-00002-of-00002.safetensors
claudio_forget_retain_1/model-00001-of-00002.safetensors
claudio_forget_retain_1/model-00002-of-00002.safetensors
claudio_forget_retain_2/model-00001-of-00002.safetensors
claudio_forget_retain_2/model-00002-of-00002.safetensors
claudio_kl_1/model-00001-of-00002.safetensors
claudio_kl_1/model-00002-of-00002.safetensors
claudio_mix2_1/model-00001-of-00002.safetensors
claudio_mix2_1/model-00002-of-00002.safetensors
evaluations/ce_full.jsonl
evaluations/claudio_forget_retain_1.jsonl
evaluations/claudio_forget1.jsonl
evaluations/claudio_kl_1.jsonl
evaluations/evaluation_results_claudio_mix2_1.jsonl
evaluations/forget_reatin_2.jsonl
evaluations/claudio_forget_3.jsonl
evaluations/claudio_forget_22.jsonl
claudio_ce_3_epoch_1/config.json
claudio_ce_3_epoch_1/generation_config.json
claudio_ce_3_epoch_1/model-00001-of-00002.safetensors
claudio_ce_3_epoch_1/model-00002-of-00002.safetensors
claudio_ce_3_epoch_1/model.safetensors.index.json
claudio_ce_3_epoch_1/special_tokens_map.json
claudio_ce_3_epoch_1/tokenizer_config.json
claudio_ce_3_epoch_1/tokenizer.json
claudio_ce_3_epoch_2/config.json
claudio_ce_3_epoch_2/generation_config.json
claudio_ce_3_epoch_2/model-00001-of-00002.safetensors
claudio_ce_3_epoch_2/model-00002-of-00002.safetensors
claudio_ce_3_epoch_2/model.safetensors.index.json
claudio_ce_3_epoch_2/special_tokens_map.json
claudio_ce_3_epoch_2/tokenizer_config.json
claudio_ce_3_epoch_2/tokenizer.json
claudio_ce_3_epoch_3/config.json
claudio_ce_3_epoch_3/generation_config.json
claudio_ce_3_epoch_3/model-00001-of-00002.safetensors
claudio_ce_3_epoch_3/model-00002-of-00002.safetensors
claudio_ce_3_epoch_3/model.safetensors.index.json
claudio_ce_3_epoch_3/special_tokens_map.json
claudio_ce_3_epoch_3/tokenizer_config.json
claudio_ce_3_epoch_3/tokenizer.json
claudio_ce_3_epoch_4/config.json
claudio_ce_3_epoch_4/generation_config.json
claudio_ce_3_epoch_4/model-00001-of-00002.safetensors
claudio_ce_3_epoch_4/model-00002-of-00002.safetensors
claudio_ce_3_epoch_4/model.safetensors.index.json
claudio_ce_3_epoch_4/special_tokens_map.json
claudio_ce_3_epoch_4/tokenizer_config.json
claudio_ce_3_epoch_4/tokenizer.json
claudio_ce_3_epoch_5/config.json
claudio_ce_3_epoch_5/generation_config.json
claudio_ce_3_epoch_5/model-00001-of-00002.safetensors
claudio_ce_3_epoch_5/model-00002-of-00002.safetensors
claudio_ce_3_epoch_5/model.safetensors.index.json
claudio_ce_3_epoch_5/special_tokens_map.json
claudio_ce_3_epoch_5/tokenizer_config.json
claudio_ce_3_epoch_5/tokenizer.json
claudio_ce_3_epoch_6/config.json
claudio_ce_3_epoch_6/generation_config.json
claudio_ce_3_epoch_6/model-00001-of-00002.safetensors
claudio_ce_3_epoch_6/model-00002-of-00002.safetensors
claudio_ce_3_epoch_6/model.safetensors.index.json
claudio_ce_3_epoch_6/special_tokens_map.json
claudio_ce_3_epoch_6/tokenizer_config.json
claudio_ce_3_epoch_6/tokenizer.json
claudio_ce_3_epoch_7/config.json
claudio_ce_3_epoch_7/generation_config.json
claudio_ce_3_epoch_7/model-00001-of-00002.safetensors
claudio_ce_3_epoch_7/model-00002-of-00002.safetensors
claudio_ce_3_epoch_7/model.safetensors.index.json
claudio_ce_3_epoch_7/special_tokens_map.json
claudio_ce_3_epoch_7/tokenizer_config.json
claudio_ce_3_epoch_7/tokenizer.json
claudio_ce_epoch_1/config.json
claudio_ce_epoch_1/generation_config.json
claudio_ce_epoch_1/model-00001-of-00002.safetensors
claudio_ce_epoch_1/model-00002-of-00002.safetensors
claudio_ce_epoch_1/model.safetensors.index.json
claudio_ce_epoch_1/special_tokens_map.json
claudio_ce_epoch_1/tokenizer_config.json
claudio_ce_epoch_1/tokenizer.json
claudio_ce_epoch_2/config.json
claudio_ce_epoch_2/generation_config.json
claudio_ce_epoch_2/model-00001-of-00002.safetensors
claudio_ce_epoch_2/model-00002-of-00002.safetensors
claudio_ce_epoch_2/model.safetensors.index.json
claudio_ce_epoch_2/special_tokens_map.json
claudio_ce_epoch_2/tokenizer_config.json
claudio_ce_epoch_2/tokenizer.json
claudio_ce_epoch_3/config.json
claudio_ce_epoch_3/generation_config.json
claudio_ce_epoch_3/model-00001-of-00002.safetensors
claudio_ce_epoch_3/model-00002-of-00002.safetensors
claudio_ce_epoch_3/model.safetensors.index.json
claudio_ce_epoch_3/special_tokens_map.json
claudio_ce_epoch_3/tokenizer_config.json
claudio_ce_epoch_3/tokenizer.json
claudio_forget1/config.json
claudio_forget1/generation_config.json
claudio_forget1/model.safetensors.index.json
claudio_forget1/special_tokens_map.json
claudio_forget1/tokenizer_config.json
claudio_forget1/tokenizer.json
claudio_forget_2/config.json
claudio_forget_2/generation_config.json
claudio_forget_2/model-00001-of-00002.safetensors
claudio_forget_2/model-00002-of-00002.safetensors
claudio_forget_2/model.safetensors.index.json
claudio_forget_2/special_tokens_map.json
claudio_forget_2/tokenizer_config.json
claudio_forget_2/tokenizer.json
claudio_forget_3/config.json
claudio_forget_3/generation_config.json
claudio_forget_3/model-00001-of-00002.safetensors
claudio_forget_3/model-00002-of-00002.safetensors
claudio_forget_3/model.safetensors.index.json
claudio_forget_3/special_tokens_map.json
claudio_forget_3/tokenizer_config.json
claudio_forget_3/tokenizer.json
claudio_forget_4/config.json
claudio_forget_4/generation_config.json
claudio_forget_4/model-00001-of-00002.safetensors
claudio_forget_4/model-00002-of-00002.safetensors
claudio_forget_4/model.safetensors.index.json
claudio_forget_4/special_tokens_map.json
claudio_forget_4/tokenizer_config.json
claudio_forget_4/tokenizer.json


new_evaluation/mia_test/member.jsonl
new_evaluation/mia_test/nonmember.jsonl
new_evaluation/mia_test2/member.jsonl
new_evaluation/mia_test2/nonmember.jsonl
orginal_model/generation_config.json
orginal_model/model-00001-of-00002.safetensors
orginal_model/model-00002-of-00002.safetensors
orginal_model/model.safetensors.index.json
orginal_model/special_tokens_map.json
orginal_model/tokenizer_config.json
orginal_model/tokenizer.json
evaluations/ce_epoch_8.jsonl
evaluations/evaluation_results.jsonl
ga_1/generation_config.json
ga_1/model-00001-of-00002.safetensors
ga_1/model-00002-of-00002.safetensors
ga_1/model.safetensors.index.json
ga_1/special_tokens_map.json
ga_1/tokenizer_config.json
ga_1/tokenizer.json
ga_1/config.json
orginal_model/config.json
new_evaluation/mia_test3/member.jsonl
new_evaluation/mia_test3/nonmember.jsonl
new_evaluation/mia_test4/member.jsonl
new_evaluation/mia_test4/nonmember.jsonl
new_evaluation/mia_test5/member.jsonl
new_evaluation/mia_test5/nonmember.jsonl
orginal_olmo/config.json
orginal_olmo/generation_config.json
orginal_olmo/model-00001-of-00002.safetensors
orginal_olmo/model-00002-of-00002.safetensors
orginal_olmo/model.safetensors.index.json
orginal_olmo/special_tokens_map.json
orginal_olmo/tokenizer_config.json
orginal_olmo/tokenizer.json
ce_le_5_results/evaluation_results.jsonl
ce_lr_e5_task3_epoch_1/config.json
ce_lr_e5_task3_epoch_1/generation_config.json
ce_lr_e5_task3_epoch_1/model-00001-of-00002.safetensors
ce_lr_e5_task3_epoch_1/model-00002-of-00002.safetensors
ce_lr_e5_task3_epoch_1/model.safetensors.index.json
ce_lr_e5_task3_epoch_1/special_tokens_map.json
ce_lr_e5_task3_epoch_1/tokenizer_config.json
ce_lr_e5_task3_epoch_1/tokenizer.json
ce_lr_e5_task3_epoch_2/config.json
ce_lr_e5_task3_epoch_2/generation_config.json
ce_lr_e5_task3_epoch_2/model-00001-of-00002.safetensors
ce_lr_e5_task3_epoch_2/model-00002-of-00002.safetensors
ce_lr_e5_task3_epoch_2/model.safetensors.index.json
ce_lr_e5_task3_epoch_2/special_tokens_map.json
ce_lr_e5_task3_epoch_2/tokenizer_config.json
ce_lr_e5_task3_epoch_2/tokenizer.json
ce_lr_e5_task3_epoch_3/config.json
ce_lr_e5_task3_epoch_3/generation_config.json
ce_lr_e5_task3_epoch_3/model-00001-of-00002.safetensors
ce_lr_e5_task3_epoch_3/model-00002-of-00002.safetensors
ce_lr_e5_task3_epoch_3/model.safetensors.index.json
ce_lr_e5_task3_epoch_3/special_tokens_map.json
ce_lr_e5_task3_epoch_3/tokenizer_config.json
ce_lr_e5_task3_epoch_3/tokenizer.json
ce_lr_e5_task3_epoch_4/config.json
ce_lr_e5_task3_epoch_4/generation_config.json
ce_lr_e5_task3_epoch_4/model-00001-of-00002.safetensors
ce_lr_e5_task3_epoch_4/model-00002-of-00002.safetensors
ce_lr_e5_task3_epoch_4/model.safetensors.index.json
ce_lr_e5_task3_epoch_4/special_tokens_map.json
ce_lr_e5_task3_epoch_4/tokenizer_config.json
ce_lr_e5_task3_epoch_4/tokenizer.json
ce_lr_e5_task3_epoch_5/config.json
ce_lr_e5_task3_epoch_5/generation_config.json
ce_lr_e5_task3_epoch_5/model-00001-of-00002.safetensors
ce_lr_e5_task3_epoch_5/model-00002-of-00002.safetensors
ce_lr_e5_task3_epoch_5/model.safetensors.index.json
ce_lr_e5_task3_epoch_5/special_tokens_map.json
ce_lr_e5_task3_epoch_5/tokenizer_config.json
ce_lr_e5_task3_epoch_5/tokenizer.json
evaluations/mia_test3.jsonl
evaluations/mia_test4.jsonl
evaluations/retain_0.csv
config.json
.gitignore
