__pycache__
*.json
wandb
*.pth
claudio_forget1/model-00001-of-00002.safetensors
claudio_forget1/model-00002-of-00002.safetensors
claudio_forget_retain_1/model-00001-of-00002.safetensors
claudio_forget_retain_1/model-00002-of-00002.safetensors
claudio_forget_retain_2/model-00001-of-00002.safetensors
claudio_forget_retain_2/model-00002-of-00002.safetensors
claudio_kl_1/model-00001-of-00002.safetensors
claudio_kl_1/model-00002-of-00002.safetensors
claudio_mix2_1/model-00001-of-00002.safetensors
claudio_mix2_1/model-00002-of-00002.safetensors
evaluations/ce_full.jsonl
evaluations/claudio_forget_retain_1.jsonl
evaluations/claudio_forget1.jsonl
evaluations/claudio_kl_1.jsonl
evaluations/evaluation_results_claudio_mix2_1.jsonl
evaluations/forget_reatin_2.jsonl
