# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 24.11.0
_libgcc_mutex
_openmp_mutex
absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
bzip2
ca-certificates
certifi
charset-normalizer
click
datasets
deepspeed
dill
einops
expat
filelock
frozenlist
fsspec
hjson
huggingface-hub
idna
jinja2
joblib
ld_impl_linux-64
libffi
libgcc-ng
libgomp
libstdcxx-ng
libuuid
markupsafe
mpmath
msgpack
multidict
multiprocess
ncurses
networkx
ninja
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openssl
packaging
pandas
pip
propcache
psutil
py-cpuinfo
pyarrow
pydantic
pydantic-core
python
python-dateutil
pytz
pyyaml
readline
regex
requests
rouge-score
safetensors
setuptools
six
sqlite
sympy
tk
tokenizers
torch
tqdm
transformers
triton
typing-extensions
tzdata
urllib3
wheel
xxhash
xz
yarl
zlib
